body {
    background-color: #100808;
    color: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
    line-height: 140%;
}

h1 {
    margin-left: 3em;
}

h2 {
    margin-top: 3em;
}

h3 {
    margin-top: 2em;
    margin-bottom: 0px;
}

h4 {
    margin: 1em 0px 0px 0px;
}

ul {
    margin: 0px 0px 0px 0px;
    padding-left: 1.5em;
}

a:link {
    color: cyan;
}

a:visited {
    color: lightblue;
}

.code {
    background-color: #441313;
    border: 1px solid #5e0d0d;
    border-radius: 4px;
    padding: 0.01em;
    font-size: 0.95em;
}

.indent {
    margin: 0px 0px 0px 2em;
}

.it {
    font-style: italic;
}
